*{
    margin: 0;
    padding: 0;
    
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #87c2f9;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    margin-left:center;
    margin-top: center;
    border-radius: 30px;
    border: 1px solid #0b0000;
    box-shadow: 0 0 1px #0b0000;
}

.heading {
    text-align: center;
    color: white;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
